{% extends 'base.html.twig' %}

{% block title %}New Enseignants{% endblock %}

{% block body %}
    <h1>Create new Enseignants</h1>

    {{ include('teachers/_form.html.twig') }}

    <a href="{{ path('app_teachers_index') }}">back to list</a>
{% endblock %}
