<form method="post" action="{{ path('app_temps_delete', {'id': emploi.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ emploi.id) }}">
    <button class="btn">Delete</button>
</form>
