{% extends 'base.html.twig' %}

{% block title %}Edit Emplois{% endblock %}

{% block body %}
    <h1>Edit Emplois</h1>

    {{ include('temps/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_temps_index') }}">back to list</a>

    {{ include('temps/_delete_form.html.twig') }}
{% endblock %}
