{% extends 'base.html.twig' %}

{% block title %}New Emplois{% endblock %}

{% block body %}
    <h1>Create new Emplois</h1>

    {{ include('temps/_form.html.twig') }}

    <a href="{{ path('app_temps_index') }}">back to list</a>
{% endblock %}
