{% extends 'base.html.twig' %}

{% block title %}New Etudiants{% endblock %}

{% block body %}
    <h1>Create new Etudiants</h1>

    {{ include('students/_form.html.twig') }}

    <a href="{{ path('app_students_index') }}">back to list</a>
{% endblock %}
