{% extends 'base.html.twig' %}

{% block title %}New Documents{% endblock %}

{% block body %}
    <h1>Create new Documents</h1>

    {{ include('docs/_form.html.twig') }}

    <a href="{{ path('app_docs_index') }}">back to list</a>
{% endblock %}
